<legend>Edit Food Items</legend>

<form method="POST" action="/profiles/{{profile.id}}/delete?_method=PUT">
<!-- Search feature coming soon
<div class="input-group">
<input type="text" class="form-control" id="search" type="search" name="search" placeholder="Look up food here">
<span class="input-group-btn">
    <a href="/profiles">
      <button class="btn btn-primary" type="button">Search</button>
    </a>
</span>
</div>
-->
    <select name="foodSelect" style="float: left;">
            {{#each profile.foods}}
            <option value="{{this._id}}">
                {{this.name}}, {{this.description}}, {{this.CO2e}}
            </option>
            {{else}}
            <option value="">
                Nothing to delete yet...
            </option>
            {{/each}}
    </select>

    <div class="container-fluid" style="float: right;">
    <a href="/profiles/{{profile._id}}">
        <button class="btn btn-primary" type="button">
            Cancel
        </button>
    </a>
    <button class="btn btn-primary" type="submit">Delete</button>
    </div>

</form>
