<legend>Add Food</legend>
<form action="/profiles/{{profile._id}}?_method=PUT" method="POST">
    <div class="input-group">
        <h3>Search function coming soon!</h3>
       <!-- <input type="text" class="form-control" id="search" type="search" name="search" placeholder="Look up food here">
       <span class="input-group-btn">
            <a href="/profiles">
              <button class="btn btn-primary" type="button">Search</button>
            </a>
       </span> -->
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Add Item</th>
                <th scope="col">Food Name</th>
                <th scope="col">Description</th>
                <th scope="col">Carbon Output</th>
            </tr>
        </thead>
        <tbody>
            {{#each foods}}
            <tr id="{{this._id}}">
                <th scope="row"><input type="checkbox"/></th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.CO2e}} CO2e</td>
            {{else}}
                <td>No foods yet...</td>
            {{/each}}
            </tr>
        </tbody>
    </table>

    <div class="container-fluid" style="float: right;">
        <button class="btn btn-primary" type="button">Cancel</button>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
