<legend>Add Food</legend>
<form action="/profiles/{{profile._id}}?_method=PUT" method="POST">
    <div class="input-group">
        <h3>Search function coming soon!</h3>
       <!-- <input type="text" class="form-control" id="search" type="search" name="search" placeholder="Look up food here">
       <span class="input-group-btn">
            <a href="/profiles">
              <button class="btn btn-primary" type="button">Search</button>
            </a>
       </span> -->
    </div>


    <select class="" name="foodSelect">
        <th scope="row">
            {{#each foods}}
            <option value="{{this._id}}">
                {{this.name}}, {{this.description}}, {{this.CO2e}}
            </option>
            {{else}}
            <option value="">
                No food yet...
            </option>
            {{/each}}
    </select>

    <div class="container-fluid" style="float: right;">
        <button class="btn btn-primary" type="reset">Cancel</button>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
