<h2>Welcome, {{profile.username}}!</h2>

<legend>Foods You've Eaten Today:</legend>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Food Name</th>
                <th scope="col">Carbon Output</th>
            </tr>
        </thead>
        <tbody>
            <tr id="">
                <td scope="row">(Example) beef</td>
                <td>27 CO2e</td>
            </tr>
            {{#each profile.foods}}
            <tr id="">
                <td>{{this.name}}</td>
                <td>{{this.CO2e}} CO2e</td>
            </tr>
            {{/each}}
            <tr>
            <tr>
                <th>
                    <a href="/profiles/{{profile.id}}/foods">Add Food</a>
                <ins>|</ins>
                    <!-- <a href="/profiles/{{profile.id}}/edit">Delete Food</a> -->
                </th>
                <th></th>
            </tr>
                <th>Total Carbon Output:</th>
                <th>ok</th>
            </tr>
            <tr>
                <th>Your carbon indicator:</th>
                <th>
                    <div>
                        <svg height="100" width="100">
                          <g id="UrTavla">
                          <circle cx="50" cy="50" r="40" stroke="#4AFA75" stroke-width="3" fill="green">
                          </circle>
                          <text x="50%" y="50%" text-anchor="middle" dy=".3em"></text>
                          </g>
                        </svg>
                    </div>
              </th>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<form method="POST" action="/profiles/{{profile._id}}?_method=DELETE">
    <h3>
        <button type="submit">DELETE MY PROFILE</button>
    </h3>
</form>

<fieldset>
  <!-- <legend>Today's Meals</legend> -->

  <!-- Breakfast -->
  <!-- <div class="container">
  <div class="pull-right">
    <svg height="100" width="100">
      <g id="UrTavla">
      <circle cx="50" cy="50" r="40" stroke="#4AFA75" stroke-width="3" fill="green">
      </circle>
      <text x="50%" y="50%" text-anchor="middle" dy=".3em">12</text>
      </g>
    </svg>
  </div>
  <h2>Breakfast</h2>
    {{#each profile.foods}}
    <p>{{this.name}}</p>
    {{else}}
    <p>You haven't logged any food yet.</p>
    {{/each}}

    <div>
      <a href="/profiles/{{profile.id}}/foods">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>

  <hr>
  </div> -->

  <!-- Lunch -->
  <!-- <div class="container">
    <div class="pull-right">
    <svg height="100" width="100">
      <g id="UrTavla">
      <circle cx="50" cy="50" r="40" stroke="#FADD4A" stroke-width="3" fill="yellow">
      </circle>
      <text x="50%" y="50%" text-anchor="middle" dy=".3em">20</text>
      </g>
    </svg>
  </div>
  <h2>Lunch</h2>
    <p>Food Item One</p>
    <p>Food Item Two</p>
    <p>Food Item Three</p>
    <p>Food Item Four</p>
    <div class="topcorner">
      <a href="/profiles/{{profile.id}}/foods">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>

  <hr>
  </div> -->

  <!-- Dinner -->
  <!-- <div class="container">
    <div class="pull-right">
    <svg height="100" width="100">
      <g id="UrTavla">
      <circle cx="50" cy="50" r="40" stroke="#FC5252" stroke-width="3" fill="red">
      </circle>
      <text x="50%" y="50%" text-anchor="middle" dy=".3em">40</text>
      </g>
    </svg>
  </div>
  <h2>Dinner</h2>
    <p>Food Item One</p>
    <p>Food Item Two</p>
    <p>Food Item Three</p>
    <p>Food Item Four</p>
    <div class="topcorner">
      <a href="/profiles/{{profile.id}}/foods">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>
  <hr>
  </div> -->

  <!-- Snacks -->
  <!-- <div class="container">
    <div class="pull-right">
    <svg height="100" width="100">
      <g id="UrTavla">
      <circle cx="50" cy="50" r="40" stroke="#4AFA75" stroke-width="3" fill="green">
      </circle>
      <text x="50%" y="50%" text-anchor="middle" dy=".3em">40</text>
      </g>
    </svg>
  </div>
  <h2>Snacks</h2>
    <p>Food Item One</p>
    <p>Food Item Two</p>
    <p>Food Item Three</p>
    <p>Food Item Four</p>
    <div class="topcorner">
      <a href="/profiles/{{profile.id}}/foods">Add Food</a>
      <ins>|</ins>
      <a href="#">Edit Food</a>
    </div>
  <hr> -->
  </fieldset>
  </div>
